<a href="https://colab.research.google.com/github/kimjunwooo/python/blob/main/linear_for_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
np.set_printoptions(precision = 3, suppress = True)
import warnings
print('Setup Complete!')

Setup Complete!

In [6]:
from google.colab import files
uploaded = files.upload()

Saving auto-mpg.csv to auto-mpg (1).csv

In [16]:
import io
df = pd.read_csv(io.BytesIO(uploaded['auto-mpg.csv']))
# csv파일 불러오기

In [17]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [23]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [31]:
df=pd.get_dummies(df,columns=['cylinders'],drop_first=True)
df

,mpg,displacement,horsepower,weight,acceleration,model year,origin,car name,cylinders_4,cylinders_5,cylinders_6,cylinders_8
0,18.0,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,0,0,0,1
1,15.0,350.0,165,3693,11.5,70,1,buick skylark 320,0,0,0,1
2,18.0,318.0,150,3436,11.0,70,1,plymouth satellite,0,0,0,1
3,16.0,304.0,150,3433,12.0,70,1,amc rebel sst,0,0,0,1
4,17.0,302.0,140,3449,10.5,70,1,ford torino,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,140.0,86,2790,15.6,82,1,ford mustang gl,1,0,0,0
394,44.0,97.0,52,2130,24.6,82,2,vw pickup,1,0,0,0
395,32.0,135.0,84,2295,11.6,82,1,dodge rampage,1,0,0,0
396,28.0,120.0,79,2625,18.6,82,1,ford ranger,1,0,0,0
397,31.0,119.0,82,2720,19.4,82,1,chevy s-10,1,0,0,0

In [32]:
df=df.drop(columns=['car name'])

In [33]:
df=df[df['horsepower']!='?']

In [34]:
pd.to_numeric(df['horsepower'])

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 392, dtype: int64

In [35]:
Y=df.iloc[:,0]

In [36]:
Y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [37]:
X=df.drop(columns=['mpg'])

In [38]:
X

,displacement,horsepower,weight,acceleration,model year,origin,cylinders_4,cylinders_5,cylinders_6,cylinders_8
0,307.0,130,3504,12.0,70,1,0,0,0,1
1,350.0,165,3693,11.5,70,1,0,0,0,1
2,318.0,150,3436,11.0,70,1,0,0,0,1
3,304.0,150,3433,12.0,70,1,0,0,0,1
4,302.0,140,3449,10.5,70,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
393,140.0,86,2790,15.6,82,1,1,0,0,0
394,97.0,52,2130,24.6,82,2,1,0,0,0
395,135.0,84,2295,11.6,82,1,1,0,0,0
396,120.0,79,2625,18.6,82,1,1,0,0,0
397,119.0,82,2720,19.4,82,1,1,0,0,0

In [39]:
X['horsepower'].apply(pd.to_numeric)

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 392, dtype: int64

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(X)

X = scaler.transform(X)

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, train_size=0.7, random_state=2529)

In [42]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [43]:
model.fit(X_train,y_train)

LinearRegression()

In [44]:
y_test

262    19.2
290    15.5
65     14.0
359    28.1
79     26.0
       ...
49     23.0
382    34.0
235    26.0
277    16.2
57     24.0
Name: mpg, Length: 118, dtype: float64

In [45]:
y_pred = model.predict(X_test)

In [46]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8314167006656852

In [53]:
from sklearn.model_selection import cross_val_score
lr= LinearRegression()
neg_mse_scores = cross_val_score(lr, X_train, y_train, scoring="neg_mean_squared_error", cv = 5)
scores = np.sqrt(-neg_mse_scores)

In [54]:
def display_scores(scores): # 헨즈온 머신러닝
  print("점수:",scores)
  print("평균:", scores.mean())
  print("표준편차:",scores.std())

display_scores(scores)

점수: [2.825 3.797 3.39  3.649 2.689]
평균: 3.2701400477032054
표준편차: 0.4408370740320526

In [57]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree = 2, include_bias = False)
X_poly = poly_features.fit_transform(X_train)

In [58]:
lin_reg = LinearRegression()
lin_reg.fit(X_poly, y_train)
lin_reg.intercept_, lin_reg.coef_

(105062043268.44138,
 array([ 1.516e+11, -3.995e+09,  2.512e+08,  5.479e+09,  2.579e+09,
         3.343e+10, -6.423e+10,  7.420e+09, -1.337e+10, -6.313e+09,
        -2.127e-01, -4.340e-02,  3.447e+00,  4.865e-01,  3.078e-01,
        -1.764e+00, -2.338e+11,  1.631e+12, -1.910e+11, -2.058e+11,
        -2.749e+00,  3.492e+00, -2.350e+00, -1.133e+00, -2.877e-01,
        -3.281e+09, -4.683e+10, -2.681e+09, -2.888e+09, -3.239e+00,
         1.961e+00,  9.070e-02,  1.841e+00,  7.156e+09,  5.771e+09,
         5.848e+09,  6.300e+09,  9.645e-02,  4.287e-01,  8.375e-01,
         2.652e+10,  7.318e+10,  2.167e+10,  2.335e+10,  6.724e-01,
         3.301e-01,  4.195e+09,  3.107e+10,  3.428e+09,  3.693e+09,
         3.095e-01, -7.581e+10,  9.702e+08, -6.195e+10, -1.543e+10,
         1.966e+09, -1.893e+09,  4.687e+10,  4.476e+10,  8.384e+10,
        -2.671e+09, -3.875e+09, -1.887e+10,  1.126e+10, -6.806e+09]))